th, td {
    width: 4em;
    height: 2em;
    text-align: center;
}

table {
    border: 10px solid white;
    border-radius: 25px;
    box-shadow: inset;
}

img.currency-logo {
    width: 35px;
    height: 35px;
}