th, td {
    width: 70px;
    height: 2em;
    text-align: center;
}

th.logo-cell, td.logo-cell {
    width: 40px;
}

table.exchange-table {
    border: 0px solid white;
    border-radius: 25px;
    box-shadow: 2px 2px rgb(163, 160, 160);
    transition: 0.2s;
    transform: translateX(-2px) translateY(-2px);
    background-color: #ffffff16;
    backdrop-filter: blur(5px);
}

table:hover {
    box-shadow: none;
    transform: translateX(0px) translateY(0px);
}

img.currency-logo {
    width: 35px;
    height: 35px;
}

p.comission-disclamer {
    font-size: 10pt;
}

div.accounting-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.exchange-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

div h2.exchange-table-name {
    margin-bottom: 2vh;
}